h1 {
    color: #c8286a;
    font-size: 36px;
    font-style: italic;
    text-align: center; /* Thêm dòng này để căn giữa chữ */
}

body{
    
    max-width: 1100px; /* Chiều rộng tối đa của trang, bạn có thể thay đổi */
    margin: 30px auto; /* Căn giữa trang và tạo khoảng cách trên/dưới */
    background-color: rgb(250, 196, 255); /* Nền trắng cho hộp chính */
    padding: 30px 40px;      /* Tạo khoảng đệm bên trong hộp */
    border-radius: 15px;     /* Bo tròn các góc */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ cho đẹp */
}

p{
    color: #c8286a;
}

.pnvn {
    color: #c8286a;
    font-size: 20px;
    text-align: center;
}

.lydo {
    text-align: center;
    background-color: white; 
    color: #c8286a; 
    padding: 30px 20px; 
    border-radius: 10px; 
    margin: 20px 200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.loichuc {
    text-align: center;
    background-color: white; 
    color: #c8286a; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px 200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signature {
    font-size: 50px;
    text-align: center;
    background-color: white; 
    color: #c8286a; 
    padding: 20px; 
    border-radius: 10px; 
    margin: 20px 200px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.oduoi {
    background-color: #f364a0;
    max-width: 1100px; /* Chiều rộng tối đa của trang, bạn có thể thay đổi */
    margin: 30px auto; /* Căn giữa trang và tạo khoảng cách trên/dưới */
     /* Nền trắng cho hộp chính */
    padding: 30px 40px;      /* Tạo khoảng đệm bên trong hộp */
    border-radius: 15px;     /* Bo tròn các góc */
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); /* Đổ bóng nhẹ cho đẹp */
}

.anh1 img{
    max-width: 400px;   /* Kích thước chiều rộng tối đa của ảnh */
    width: 100%;        /* Giúp ảnh co giãn trên màn hình nhỏ */
    display: block;     /* Giúp căn giữa được */
    margin: 20px auto;  /* Tự động căn ảnh ra giữa theo chiều ngang */
    border-radius: 10px;/* (Tùy chọn) Bo tròn góc ảnh cho đẹp */
}

.anh2 img{
    max-width: 400px;   /* Kích thước chiều rộng tối đa của ảnh */
    width: 100%;        /* Giúp ảnh co giãn trên màn hình nhỏ */
    display: block;     /* Giúp căn giữa được */
    margin: 20px auto;  /* Tự động căn ảnh ra giữa theo chiều ngang */
    border-radius: 10px;/* (Tùy chọn) Bo tròn góc ảnh cho đẹp */
}

.ngang {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

